:root {
    --Orange: hsl(26, 100%, 55%);
    --Pale_orange: hsl(25, 100%, 94%);
    --Very_vark_blue: hsl(220, 13%, 13%);
    --Dark_grayish_blue: hsl(219, 9%, 45%);
    --Grayish_blue: hsl(220, 14%, 75%);
    --Light_grayish_blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    /*  --Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%) */
}

img {
    max-width: 100%;
}

body {
    background: var(--White);
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0%;
    padding: 0%;
}

.header {
    display: flex;
}

.header-title {
    display: flex;
    width: calc(90% - 2em);
    align-items: center;
    margin: 2.5em 0 2.5em 0;
    justify-content: space-evenly;
}

.header-title-logo img {
    width: 15em;
}

.header-title-ul li {
    list-style: none;
}

.header-title-ul a {
    text-decoration: none;
    margin: 0.5em;
    font-weight: 700;
    color: var(--Dark_grayish_blue);
}

.header-title-ul a:hover {
    color: var(--Grayish_blue);
}

hr {
    width: 85%;
    color: var(--Dark_grayish_blue);
    margin-bottom: 3em;
}

.header-img {
    display: flex;
    align-items: center;
    width: calc(40% - 2em);
    justify-content: center;
}

.header-img-icon img {
    width: 60%;
    margin-left: 15%;
    color: var(--Orange);
    cursor: pointer;
}

.header-img-icon img:hover {
    border-radius: 50%;
    border: 3px solid var(--Orange);
    pointer-events: none;
    box-shadow: 4px 3px -2px 1px var(--Orange);
}

.nav {
    display: grid;
    grid-template-columns: 60% 40%;
}

.nav-img-first {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-img-first img {
    width: 75%;
    height: 36em;
    border-radius: 1.5em;
}

.nav-text {
    display: flex;
    flex-direction: column;
    margin-top: 7em;
}

.nav-text-box {
    width: calc(100% - 2em);
    margin-left: 2em;
}

.nav-text-box-sneacker p {
    color: var(--Orange);
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 0.15em;
}

.nav-text-box-title p {
    font-weight: 700;
    font-size: 2.5em;
}

.nav-text-box-fondo {
    width: 90%;
    text-align: left;
    color: var(--Dark_grayish_blue);
}

.nav-text-box-price {
    width: 80%;
}

.nav-text-box-price-first {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.nav-text-box-price-first .num1 {
    font-size: 2em;
}

.nav-text-box-price-first .num2 {
    font-size: 1em;
    margin-left: 2em;
    background-color: var(--Pale_orange);
    padding: 0.5em;
    color: var(--Orange);
    border-radius: 0.5em;
    box-shadow: 4px 3px 5px 1px hsl(19, 77%, 83%);
}

.nav-text-box-price-second p {
    text-decoration: line-through;
    color: var(--Dark_grayish_blue);
}

.nav-text-card {
    display: flex;
    align-items: center;
    margin-top: 5em;
}

.nav-text-first {
    display: flex;
    justify-content: space-between;
    border-radius: 0.5em;
    padding: 0.7em;
    width: 20%;
    background-color: var(--Light_grayish_blue);
    box-shadow: 4px 3px 9px 1px #7777;
    -webkit-box-shadow: 4px 3px 9px 1px #7777;
    -moz-box-shadow: 4px 3px 9px 1px #7777;
}

.nav-text-first div {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nav-img-second {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 4em;
}

.nav-img-second div {
    display: flex;
    justify-content: center;
}

.nav-img-second div img {
    width: 70%;
    margin: 0;
    padding: 0;
    border-radius: 1em;
}

.nav-text-card-second {
    display: flex;
    justify-content: center;
    margin-left: 1em;
    width: 40%;
    padding: 0.7em;
    border-radius: 0.5em;
    background-color: var(--Orange);
    box-shadow: 4px 3px 9px 1px var(--Orange);
    -webkit-box-shadow: 4px 3px 9px 1px var(--Orange);
    -moz-box-shadow: 4px 3px 9px 1px var(--Orange);
}

.nav-text-card-second img {
    color: var(--White);
    cursor: pointer;
}

.nav-text-card-second-txt {
    margin-left: 0.5em;
    color: var(--White);
    font-weight: 700;
}


/* MENU RESPONSIVE*/


/* -----------------------------MEDIA QUERY--------------------------------------- */

@media screen and (max-width: 960px) and (min-width: 320px) {
    .header-title-ul {
        display: none;
    }
    .header-title-ul.active {
        background-color: var(--White);
        height: 100%;
        width: 50%;
        position: fixed;
        top: 0px;
        left: 0;
        display: flex;
        z-index: 2;
    }
    .header-title-ul.active li {
        margin-top: 6em;
        margin-left: 2em;
    }
    .header-title-ul.active a {
        display: flex;
        align-items: center;
        margin-top: 1em;
        font-size: 1.2em;
        color: var(--Very_vark_blue);
    }
    .menuResponsive {
        position: relative;
        width: 20px;
        height: 20px;
        background: url(../images/icon-menu.svg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuResponsive.active {
        z-index: 3;
        background: url(../images/icon-close.svg);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    hr {
        display: none;
    }
    .header {
        justify-content: space-between;
    }
    .header-title {
        width: 45%;
    }
    .header-title-logo img {
        width: 150%;
    }
    .header-img {
        width: 35%;
    }
    .header-img-icon img {
        width: 40%;
    }
    .nav {
        display: flex;
        flex-direction: column;
    }
    .nav-img-first img {
        width: 100vw;
        border-radius: 0;
    }
    .nav-img-second {
        display: none;
    }
    .nav-text {
        margin-top: 1em;
    }
    .nav-text-box-price {
        display: flex;
        width: 90%;
        justify-content: space-between;
    }
    .nav-text-card {
        display: flex;
        flex-direction: column;
        margin-top: 2.5em;
        margin-bottom: 2em;
        width: 95%;
    }
    .nav-text-first {
        width: 90%;
        margin-bottom: 1em;
    }
    .nav-text-card-second {
        width: 90%;
    }
}