:root {
    --Orange: hsl(26, 100%, 55%);
    --Pale_orange: hsl(25, 100%, 94%);
    --Very_vark_blue: hsl(220, 13%, 13%);
    --Dark_grayish_blue: hsl(219, 9%, 45%);
    --Grayish_blue: hsl(220, 14%, 75%);
    --Light_grayish_blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    /*  --Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%) */
}

img {
    max-width: 100%;
}

body {
    background: var(--White);
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0%;
    padding: 0%;
}

.header {
    display: flex;
}

.header-title {
    display: flex;
    width: calc(90% - 2em);
    align-items: center;
    margin: 2.5em 0 2.5em 0;
    justify-content: space-evenly;
}

.header-title-logo img {
    width: 15em;
}

.header-title-ul li {
    list-style: none;
}

.header-title-ul a {
    text-decoration: none;
    margin: 0.5em;
    font-weight: 700;
    color: var(--Dark_grayish_blue);
}

.header-title-ul a:hover {
    color: var(--Grayish_blue);
}

hr {
    width: 92%;
    color: var(--Dark_grayish_blue);
    margin-bottom: 8em;
}

.header-img {
    display: flex;
    align-items: center;
    width: calc(40% - 2em);
    justify-content: center;
}

.header-img-icon img {
    width: 80%;
    margin-left: 15%;
}

.nav {
    display: grid;
    grid-template-columns: 60% 40%;
}

.nav-img {
    border: 1px solid seagreen;
}

.nav-img-first {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-img-first img {
    width: 80%;
    border-radius: 1.5em;
}

.nav-text {
    display: flex;
    flex-direction: column;
}

.nav-text-box {
    width: calc(100% - 2em);
    margin-left: 2em;
}

.nav-text-box-sneacker p {
    color: var(--Orange);
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: 0.2em;
}

.nav-text-box-title p {
    font-weight: 700;
    font-size: 2.5em;
}